@* Layout: This is the master layout, renders the _Layout.Page. Partials: _Layout.Head *@
<!DOCTYPE html>
<html lang="@Lib.Culture.Name">
<head>
    @PageBuilder.RenderPageTitle()
    <meta http-equiv="Content-type" content="text/html;charset=UTF-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Theo Bebekis, Greece">
    @PageBuilder.RenderMetaKeywords()
    @PageBuilder.RenderMetaDescription()
    <link rel="shortcut icon" type="image/x-icon" href="~/favicon.ico" />
    @* The following partials maybe used when Inmobi scripts or Google Tag Manager scripts are used. 
    @await Html.PartialAsync("_Layout.Inmobi")
    @await Html.PartialAsync("_Layout.Google")
    *@
    @* function used by PageBuilderService when a CSS or JS item defines a fall-back url, i.e. a local url when a cdn url fails *@
    <script>
        function CssOrScriptFallBack(el) {
            if (el instanceof HTMLScriptElement || el instanceof HTMLLinkElement) {
                let Url = el.getAttribute('data-fallback');
                if (Url) {
                    let attr = el instanceof HTMLScriptElement ? 'src' : 'href';
                    el.setAttribute(attr, Url);
                }
            }
        }
    </script>

    @* The _Layout.Head partial may be used by a theme to inject html markup into the <head> element, mainly css and js files *@
    @await Html.PartialAsync("_Layout.Head")

    @PageBuilder.RenderHeadCssFiles()
    @PageBuilder.RenderHeadScriptFiles()
    @PageBuilder.RenderHeadInlineScripts()
</head>
<body>
    @RenderBody()

    @PageBuilder.RenderFooterCssFiles()
    @PageBuilder.RenderFooterScriptFiles()
    @PageBuilder.RenderFooterInlineScripts()
    @PageBuilder.RenderReadyScriptBlock()
    @RenderSection("Scripts", required: false)
</body>
</html>
