@model SearchBoxModel
@{
    // Example call
    // @await Component.InvokeAsync("SearchBox")
}

<div class="search-component">
    <input id='@Model.BoxId' type="text" placeholder="search" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false">
    <div id='@Model.ButtonId' class="search-icon"><i class="fa-solid fa-magnifying-glass"></i></div>
</div>

<script type="text/javascript" style="display: none">
    document.addEventListener("DOMContentLoaded", (event) => {
        let Url = '@Model.Url';
        let edtSearchBox = document.getElementById('@Model.BoxId');
        let btnSearch = document.getElementById('@Model.ButtonId');

        let Execute = () => {
            let Term = edtSearchBox.value;
            if (Term && Term.length >= 3) {
                window.location.href = Url + Term;
            }

        };
        let KeyDown = (ev) => {
            if(ev.keyCode === 13){
                Execute();
            }
        };

        edtSearchBox.addEventListener("keydown",  KeyDown);
        btnSearch.addEventListener("click",  Execute);
    });
</script>